@{
    ViewData["Title"] = "Post";
}

@* <div class="text-center">
    <h1 class="display-4">You're not welcome.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="container">
  <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
    <div class="f2-s-1 p-r-30 m-tb-6">
      <a href="/" class="breadcrumb-item f1-s-3 cl9">Trang chủ</a>
      <a href="/Post/Index/1" class="breadcrumb-item f1-s-3 cl9">Bài đăng</a>
      <span class="breadcrumb-item f1-s-3 cl9">
        Tiêu đề
      </span>
    </div>
    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
      <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
      <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
        <i class="zmdi zmdi-search"></i>
      </button>
    </div>
  </div>
</div>

<section class="bg0 p-b-140 p-t-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 p-b-30">
        <div class="p-r-10 p-r-0-sr991">
          <!-- Blog detail -->
          <div class="p-b-70">
            <a href="/Category/1" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
              Chuyên mục 1
            </a>
            <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
              Tiêu đề
            </h3>
            <div class="flex-wr-s-s p-b-40">
              <span class="f1-s-3 cl8 m-r-15">
                <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                  bởi Tôm-kun
                </a>
                <span class="m-rl-3">-</span>
                <span>Feb 18</span>
              </span>
              <span class="f1-s-3 cl8 m-r-15">
                6969 lượt xem
              </span>
              <a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">
                666 bình luận
              </a>
            </div>
          
            <div class="wrap-pic-max-w p-b-30">
              <img src="images/blog-list-01.jpg" alt="IMG">
            </div>
            <p class="f1-s-11 cl6 p-b-25">
              Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
            </p>
            <p class="f1-s-11 cl6 p-b-25">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet est vel orci luctus sollicitudin. Duis eleifend vestibulum justo, varius semper lacus condimentum dictum. Donec pulvinar a magna ut malesuada. In posuere felis diam, vel sodales metus accumsan in. Duis viverra dui eu pharetra pellentesque. Donec a eros leo. Quisque sed ligula vitae lorem efficitur faucibus. Praesent sit amet imperdiet ante. Nulla id tellus auctor, dictum libero a, malesuada nisi. Nulla in porta nibh, id vestibulum ipsum. Praesent dapibus tempus erat quis aliquet. Donec ac purus id sapien condimentum feugiat.
            </p>
            <p class="f1-s-11 cl6 p-b-25">
              Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis accumsan felis, quis vulputate
            </p>

            <!-- Tag -->
            <div class="flex-s-s p-t-12 p-b-15">
              <span class="f1-s-12 cl5 m-r-8">
                Từ khóa:
              </span>
              <div class="flex-wr-s-s size-w-0">
                <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                  Từ khóa 1
                </a>
                <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                  Từ khóa 2
                </a>
              </div>
            </div>

            <!-- Share -->
            <div class="flex-s-s">
              <span class="f1-s-12 cl5 p-t-1 m-r-15">
                Chia sẻ:
              </span>
              <div class="flex-wr-s-s size-w-0">
                <a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-facebook-f m-r-7"></i>
                  Facebook
                </a>
                <a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-twitter m-r-7"></i>
                  Twitter
                </a>
                <a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-google-plus-g m-r-7"></i>
                  Google+
                </a>
                <a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-pinterest-p m-r-7"></i>
                  Pinterest
                </a>
              </div>
            </div>

            <!-- Leave a comment -->
            <div>
              <h4 class="f1-l-4 cl3 p-b-12">
                Bình luận
              </h4>
              <p class="f1-s-13 cl8 p-b-40">
                Email chỉ dùng để xác thực. Các ô bắt buộc được đánh dấu *
              </p>
              <form>
                <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Bình luận..."></textarea>
                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Tên*">
                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">
                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Website">
                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
                  Đăng bình luận
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>