@{
    ViewData["Title"] = "Post";
}

<div class="text-center">
    <h1 class="display-4">You're not welcome.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
