@using AdvWeb_VN.Utilities.Settings
@model AdvWeb_VN.WebApp.Models.SidebarViewModel

@{
	UrlRewrite rewrite = new UrlRewrite();
	Split split = new Split();
}

	<div class="col-md-10 col-lg-4">
		<div class="p-l-10 p-rl-0-sr991 p-b-20">
			<!-- Most Popular -->
			<div class="p-b-23">
				<div class="how2 how2-cl4 flex-s-c">
					<h3 style="margin-bottom:0px" class="f1-m-2 cl3 tab01-title tle-sidebar">
						Tiêu biểu
					</h3>
				</div>

				<ul class="p-t-35">
					@{
						var popular5 = Model.Posts.OrderByDescending(i => i.View).Take(5);
					}

					@for (int i = 0; i < popular5.Count(); i++)
					{
						<li class="flex-wr-sb-s p-b-22">
							<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
								@(i + 1)
							</div>

							<a href="/post/@(rewrite.Rewrite(popular5.ElementAt(i).PostName) + popular5.ElementAt(i).PostID)" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
								@popular5.ElementAt(i).PostName
							</a>
						</li>
					}

				</ul>
			</div>

			<!-- Youtube -->
			@*<div class="p-b-55">
				<div class="how2 how2-cl4 flex-s-c m-b-35">
					<h3 class="f1-m-2 cl3 tab01-title">
						Youtube
					</h3>
				</div>
				<script src="~/js/platform.js" defer></script>
				<div class="elfsight-app-153a1c86-f9fb-413b-b617-9121263064d1"></div>
			</div>*@

			<!-- Facebook -->
			<div class="p-b-30">
				<div class="how2 how2-cl4 flex-s-c m-b-35">
					<h3 style="margin-bottom:0px" class="f1-m-2 cl3 tab01-title tle-sidebar">
						Facebook
					</h3>
				</div>
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGeroSagaSciadv&tabs=timeline&locale=vi_VN&width=320&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=321225330534327"
				        width="320" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay;
						clipboard-write; encrypted-media; picture-in-picture; web-share">
				</iframe>
			</div>

			<!-- Discord -->
			<div class="p-b-30">
				<div class="how2 how2-cl4 flex-s-c m-b-35">
					<h3 style="margin-bottom:0px" class="f1-m-2 cl3 tab01-title tle-sidebar">
						Discord
					</h3>
				</div>
				<iframe src="https://discord.com/widget?id=524195587126722589&theme=dark" width="320" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
				</iframe>
			</div>

			<!-- Tag -->
			<div class="p-b-55">
				<div class="how2 how2-cl4 flex-s-c m-b-30">
					<h3 style="margin-bottom:0px" class="f1-m-2 cl3 tab01-title">
						Từ khóa
					</h3>
				</div>

				<div class="flex-wr-s-s m-rl--5">
					@foreach (var item in Model.Tags.Items)
					{
						<a href="/tag/@item.TagName" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
							@item.TagName
						</a>
					}

				</div>
			</div>

			<!-- Partners -->
			<div class="p-b-55">
				<div class="how2 how2-cl4 flex-s-c m-b-10">
					<h3 style="margin-bottom:0px" class="f1-m-2 cl3 tab01-title">
						Các nhóm Visual Novel khác
					</h3>
				</div>
			
				<div class="flex-wr-s-s m-rl--5">
					<ul class="other-vn-groups">
						<li class="bocl12 f1-s-1 hov-btn2 trans-03 m-l-15 m-r-15 m-b-5 m-t-5">
							<a href="http://www.hoshivsub.com/" class="txt-left cl6">
								Hoshi Visual Novel
							</a>
						</li>
						<li class=" bocl12 f1-s-1 hov-btn2 trans-03 m-l-15 m-r-15 m-b-5 m-t-5">
							<a href="https://www.facebook.com/ninetranslation" class="txt-left cl6">
								Nine Translation
							</a>
						</li>
						<li class="bocl12 f1-s-1 hov-btn2 trans-03 m-l-15 m-r-15 m-b-5 m-t-5">
							<a href="https://vnkeyfc.com/" class="txt-left cl6">
								Vietnam Key Fanclub
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
