@model AdvWeb_VN.ViewModels.Catalog.Posts.PostCreateRequest
@using AdvWeb_VN.Utilities.Settings;
@{
	ViewData["Title"] = "Tạo mới";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var convert = new ConvertTime();
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<a class="btn btn-outline-primary" asp-action="Index" asp-controller="Post">Về danh sách</a>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Home">Home</a></li>
						<li class="breadcrumb-item"><a href="/Post">Danh sách bài viết</a></li>
						<li class="breadcrumb-item active">Thêm bài viết</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Thêm bài viết</h3>
						</div>
						<!-- /.card-header -->

						<div id='previewDiv'>&nbsp;</div>
						<!-- form start -->
						<form asp-action="Create" role="form" method="post" enctype="multipart/form-data">
							<div class="card-body">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="PostName" class="control-label"></label>
									<input asp-for="PostName" class="form-control" />
									<span asp-validation-for="PostName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Contents" class="control-label"></label>
									<textarea asp-for="Contents" class="form-control contents"></textarea>
									<span asp-validation-for="Contents" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Chuyên mục cha</label>
									<select asp-for="CategoryID" class="form-control category-select" id="category-select"></select>
								</div>
								<div class="form-group">
									<label asp-for="SubCategoryID" class="control-label"></label>
									<select asp-for="SubCategoryID" class="form-control category-select" id="subcategory-select"></select>
									<span asp-validation-for="SubCategoryID" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Tags</label>
									<select asp-for="TagAssignRequest.SelectedTags" class="form-control tag-select" id="tag-select" multiple="multiple">
									</select>
								</div>

								<!-- Date -->
								<div class="form-group col-md-6 col-sm-12">
									<label asp-for="TimePicker" class="control-label"></label>
									<div class="input-group date" id="reservationdate" data-target-input="nearest">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="far fa-clock"></i></span>
										</div>
										<input asp-for="TimePicker" id="datepicker" type="text" class="form-control float-right" value="@(convert.ConvertToGMT7(DateTime.Now.ToUniversalTime()).ToString("MM/dd/yyyy h:mm tt"))" />
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div id="#datetimepicker" class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<span asp-validation-for="TimePicker" class="text-danger"></span>
								</div>
								<!-- /.form group -->

								<div class="form-group">
									<label asp-for="IsShow" class="control-label col-12"></label>
									<input asp-for="IsShow" class="form-control" type="checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
									<span asp-validation-for="IsShow" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label for="exampleInputFile">Thumbnail</label>
									<div class="input-group">
										<div class="custom-file">
											<input asp-for="ThumbnailFile" type="file" class="custom-file-input" id="custom-file">
											<label class="custom-file-label" for="custom-file">Choose file</label>
											<span asp-validation-for="ThumbnailFile" class="text-danger"></span>
										</div>
										<div class="input-group-append">
											<span class="input-group-text" id="">Upload</span>
										</div>
									</div>
								</div>
								<img id="image-thumbnail" />
								<input type="hidden" asp-for="UserID" class="form-control" />
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-lg-1 col-md-2">
										<div class="form-group">
											<input type="submit" value="Lưu lại" class="btn btn-outline-primary" />
										</div>
									</div>
									@*<div class="col-lg-1 col-md-2">
										<div class="form-group">
											<input type="button" id="preview" value="Xem trước" class="btn btn-outline-info" />
										</div>
									</div>*@
								</div>
							</div>
						</form>
						<!-- /.card -->
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

@section scripts{
	<script type="text/javascript">

		var editor = new FroalaEditor('.contents',
		{
            imageUploadURL: '/UploadFiles',
			imageUploadParams: {
				id: 'my_editor'
			},
		});
        
		let endpoint = "@ViewData["BaseAddress"]"
		        
		//Bắt sự kiện chọn File Thumbnail Image thì hiển thị tên của File ra.
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});

		$("#custom-file").change(function () {
			readData(this);
		});

		$("select#category-select").change(function () {
			var selectedCategory = $(this).children("option:selected").val();
			showSubCategory(selectedCategory);
		});

		//Cấu hình form hiển thị nội dung
		$("#previewDiv").dialog({
			title: "Xem trước",
			height: 1000,
			width: 1000,
			autoOpen: false,
			open: function () {},
			show: "blind",
			hide: "explode"
		});

		//Hiển thị Form Preview nội dung khi Click vào nút Preview
		$('#preview').click(function () {
			var html = $('textarea.contents').val();
			$('#previewDiv').html(html);
			$("#previewDiv").dialog("open");
			return false;
		});

		//Load dữ liệu danh sách toàn bộ Tag vào element
		showTag();

		//Hiển thị toàn bộ danh sách chuyên mục
		showCategory();
		//Mặc định hiển thị SubCategory với Category là 1 - News
		showSubCategory(1);


		//Hiển thị danh sách toàn bộ Tag
		function showTag() {
			fetch(endpoint + "/api/tags")
				.then(response => response.json())
				.then(data => _displayItemTag(data.resultObj))
				.catch(error => console.error('Không thể lấy dữ liệu.', error))
		}

		//Hiển thị toàn bộ danh sách chuyên mục
		function showCategory() {
			fetch(endpoint + "/api/categories")
				.then(response => response.json())
				.then(data => _displayItemCategory(data))
				.catch(error => console.error('Không thể lấy dữ liệu.', error))
		}

		//Thêm option vào Category Select
		function _displayItemCategory(data) {
			data.forEach(item => {
				$("#category-select").append("<option value=" + item.categoryID + ">" + item.categoryName + "</option>")
			})
		}

		//Load dữ liệu danh sách toàn bộ Tag vào element
		function _displayItemTag(data) {

			data.forEach(item => {
				console.log(item.tagName)
				$("#tag-select").append("<option value='" + item.tagName + "'>" + item.tagName + "</option>")
			})
		}

		//Hiển thị danh sách SubCategory theo CategoryID
		function showSubCategory(id) {
			$("#subcategory-select").empty()
			fetch(endpoint + "/api/subcategories/category/" + id)
				.then(response => response.json())
				.then(data => _displayItemSubCategory(data))
				.catch(error => console.error('Unable to get items.', error))
		}

		//Thêm option động vào SubCategory
		function _displayItemSubCategory(data) {
			data.forEach(item => {
				$("#subcategory-select").append("<option value=" + item.subCategoryID + ">" + item.subCategoryName + "</option>")
			})
		}

		//Đọc và hiện thị hình ảnh
		function readData(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#image-thumbnail').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
}


