@model AdvWeb_VN.ViewModels.Catalog.Posts.PostCreateRequest
@{
	ViewData["Title"] = "Tạo mới";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<a class="btn btn-outline-primary" asp-action="Index" asp-controller="Post">Về danh sách</a>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Home">Home</a></li>
						<li class="breadcrumb-item"><a href="/Post">Danh sách bài viết</a></li>
						<li class="breadcrumb-item active">Thêm bài viết</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Thêm bài viết</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="Create" role="form" method="post" enctype="multipart/form-data">
							<div class="card-body">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="PostName" class="control-label"></label>
									<input asp-for="PostName" class="form-control" />
									<span asp-validation-for="PostName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Contents" class="control-label"></label>
									<textarea asp-for="Contents" class="form-control contents"></textarea>
									<span asp-validation-for="Contents" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Chuyên mục cha</label>
									<select asp-for="CategoryID" class="form-control category-select" id="category-select"></select>
								</div>
								<div class="form-group">
									<label asp-for="SubCategoryID" class="control-label"></label>
									<select asp-for="SubCategoryID" class="form-control category-select" id="subcategory-select"></select>
									<span asp-validation-for="SubCategoryID" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Tags</label>
									<select asp-for="TagAssignRequest.SelectedTags" class="form-control tag-select" id="tag-select" multiple="multiple">
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputFile">Thumbnail</label>
									<div class="input-group">
										<div class="custom-file">
											<input asp-for="ThumbnailFile" type="file" class="custom-file-input" id="custom-file">
											<label class="custom-file-label" for="custom-file">Choose file</label>
											<span asp-validation-for="ThumbnailFile" class="text-danger"></span>
										</div>
										<div class="input-group-append">
											<span class="input-group-text" id="">Upload</span>
										</div>
									</div>
								</div>
								<img id="image-thumbnail" />
								<input type="hidden" asp-for="UserID" class="form-control" />
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-lg-1 col-md-2">
										<div class="form-group">
											<input type="submit" value="Lưu lại" class="btn btn-outline-primary" />
										</div>
									</div>
									<div class="col-lg-1 col-md-2">
										<div class="form-group">
											<input type="submit" value="Xem trước" class="btn btn-outline-info" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
@section scripts{
	<script type="text/javascript">
		let endpoint = "@ViewData["BaseAddress"]"

		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});

		$("#custom-file").change(function () {
			readData(this);
		});

		$("select#category-select").change(function () {
			var selectedCategory = $(this).children("option:selected").val();
			showSubCategory(selectedCategory);
		});

		showTag();
		showCategory();
		showSubCategory(1);


		function showTag() {
			fetch(endpoint + "/api/tags")
				.then(response => response.json())
				.then(data => _displayItemTag(data.resultObj))
				.catch(error => console.error('Unable to get items.', error))
		}

		function showCategory() {
			fetch(endpoint + "/api/categories")
				.then(response => response.json())
				.then(data => _displayItemCategory(data))
				.catch(error => console.error('Unable to get items.', error))
		}

		function _displayItemCategory(data) {
			data.forEach(item => {
				$("#category-select").append("<option value=" + item.categoryID + ">" + item.categoryName + "</option>")
			})
		}

		function _displayItemTag(data) {

			data.forEach(item => {
				console.log(item.tagName)
				$("#tag-select").append("<option value='" + item.tagName + "'>" + item.tagName + "</option>")
			})
		}

		function showSubCategory(id) {
			$("#subcategory-select").empty()
			fetch(endpoint + "/api/subcategories/category/" + id)
				.then(response => response.json())
				.then(data => _displayItemSubCategory(data))
				.catch(error => console.error('Unable to get items.', error))
		}

		function _displayItemSubCategory(data) {
			data.forEach(item => {
				$("#subcategory-select").append("<option value=" + item.subCategoryID + ">" + item.subCategoryName + "</option>")
			})
		}

		function readData(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#image-thumbnail').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
	}
	</script>
}


