@model AdvWeb_VN.ViewModels.System.Users.RoleAssignRequest

@{
    ViewData["Title"] = "Gán quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<a class="btn btn-outline-primary" asp-action="Index" asp-controller="User">Về danh sách</a>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Home">Home</a></li>
						<li class="breadcrumb-item"><a href="/User">Danh sách thành viên</a></li>
						<li class="breadcrumb-item active">Gán quyền</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Gán quyền</h3>
						</div>
						<!-- /.card-header -->
						<form asp-action="RoleAssign">
							<div class="card-body">
								<div class="row">
									<div class="col-md-4">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<input type="hidden" asp-for="ID" />
										@for (var i = 0; i < Model.Roles.Count; i++)
										{
											<div class="form-group">
												<label>
													@Model.Roles[i].Name
													<input type="checkbox" asp-for="Roles[i].Selected" />
													<input type="hidden" asp-for="Roles[i].ID" />
													<input type="hidden" asp-for="Roles[i].Name" />
												</label>
											</div>
										}

									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="form-group">
									<input type="submit" value="Lưu lại" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

