<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AdvWeb_VN</title>
	<link rel="icon" type="image/png" href="~/images/icons/favicon.png">
  <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/animate/animate.css">
	<link rel="stylesheet" href="~/lib/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="~/lib/animsition/css/animsition.min.css">
	<link rel="stylesheet" href="~/css/util.min.css">
	<link rel="stylesheet" href="~/css/main.css">
</head>
<body class="animsition">
  <header>
    <!-- desktop -->
    <div class="container-menu-desktop">
      <div class="topbar">
        <div class="content-topbar container h-100">
          <div class="left-topbar">
            <a href="/" class="left-topbar-item">Trang chủ</a>
            <a asp-controller="Posts" class="left-topbar-item">Bài đăng</a>
            <a href="#" class="left-topbar-item">Quản lý</a>
          </div>
          <div class="right-topbar">
            <a href="#">
              <span class="fab fa-facebook-f"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- mobile -->
    <div class="wrap-header-mobile">
      <div class="logo-mobile">
        <a href="/"><img src="~/images/icons/logo-01.png" alt="IMG-LOGO"></a>
      </div>

      <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>

    @await Component.InvokeAsync("Navi")

    @* <div class="menu-mobile">
      <ul class="topbar-mobile">
        <li class="left-topbar">
          <a href="/" class="left-topbar-item">Trang chủ</a>
          <a asp-controller="Posts" class="left-topbar-item">Bài đăng</a>
          <a href="#" class="left-topbar-item">Quản lý</a>
        </li>
        <li class="right-topbar">
          <a href="#">
            <span class="fab fa-facebook-f"></span>
          </a>
        </li>
      </ul>
      <ul class="main-menu-m">
        <li>
          <a href="/">Home</a>
          <ul class="sub-menu-m">
            <li><a href="/Category/1">Category 1</a></li>
            <li><a href="/Category/2">Category 2</a></li>
            <li><a href="/Category/3">Category 3</a></li>
          </ul>
          <span class="arrow-main-menu-m">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>


    <div class="wrap-logo no-banner container">
      <div class="logo">
        <a href="/">
          <img src="~/images/icons/logo-01.png" alt="LOGO">
        </a>
      </div>
    </div>

    <div class="wrap-main-nav">
      <div class="main-nav">
        <!-- Menu desktop-->
        <nav class="menu-desktop">
          <a href="/" class="logo-stick">
            <img src="~/images/icons/logo-01.png" alt="LOGO">
          </a>

          <ul class="main-menu justify-content-center">
            <li class="main-menu-active">
              <a href="/">Home</a>
            </li>
            <li class="mega-menu-item">
              <a href="/Category/1">Chuyên mục 1</a>             
              <div class="sub-mega-menu">

                <div class="nav flex-column nav-pills" role="tablist">
                  <a class="nav-link active" data-toggle="pill" href="#cat1-0" role="tab">Tất cả</a>
                  <a 
                    class="nav-link"
                    data-toggle="pill"
                    href="#cat1-1"
                    role="tab"
                  >Tag 1</a>
                  <a class="nav-link" data-toggle="pill" href="#cat1-2" role="tab">Tag 2</a>
                  <a class="nav-link" data-toggle="pill" href="#cat1-3" role="tab">Tag 3</a>
                </div>

                <div class="tab-content">
                  <div class="tab-pane show active" id="cat1-0" role="tabpanel">
                    <!-- Tab content -->
                    <div class="row">
                      <div class="col-3">
                        <div>
                          <a href="/Post/1" class="wrap-pic-w hov1 trans-03">
                            <img src="~/images/post-05.jpg" alt="IMG">
                          </a>

                          <div class="p-t-10">
                            <h5 class="p-b-5">
                              <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                Tiêu đề
                              </a>
                            </h5>

                            <span class="cl8">
                              <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">Chuyên mục</a>
                              <span class="f1-s-3 m-rl-3">  -</span>
                              <span class="f1-s-3">Feb 18</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">asd</div>
                      <div class="col-3">asd</div>
                      <div class="col-3">asd</div>
                    </div>
                  </div>
                  <div class="tab-pane" id="cat1-1" role="tabpanel">
                    <div class="row">
                      <div class="col-3">sdfg</div>
                      <div class="col-3">sdfg</div>
                      <div class="col-3">sdfg</div>
                      <div class="col-3">sdfg</div>
                    </div>
                  </div>
                  <div class="tab-pane" id="cat1-2" role="tabpanel">
                    <div class="row">
                      <div class="col-3">wef</div>
                      <div class="col-3">wef</div>
                      <div class="col-3">wef</div>
                      <div class="col-3">wef</div>
                    </div>
                  </div>
                  <div class="tab-pane" id="cat1-3" role="tabpanel">
                    <div class="row">
                      <div class="col-3">qwer</div>
                      <div class="col-3">qwer</div>
                      <div class="col-3">qwer</div>
                      <div class="col-3">qwer</div>
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="mega-menu-item">
              <a href="/Category/3">Chuyên mục 2</a>
            </li>
          </ul>
        </nav>
      </div>
    </div> *@
  </header>

  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  
  <footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="index.html">
								<img class="max-s-full" src="~/images/icons/logo-02.png" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								Tin tức SciADV dành cho người Việt
							</p>

							@* <p class="f1-s-1 cl11 p-b-16">
								Any questions? Call us on (+1) 96 716 6879
							</p> *@

							<div class="p-t-15">
								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								@* <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a> *@
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Bài đăng nổi bật
							</h5>
						</div>

						<ul>
							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="~/images/popular-post-01.jpg" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											Bài đăng nổi bật 1
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Feb 17
									</span>
								</div>
							</li>

							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="~/images/popular-post-02.jpg" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											Bài đăng nổi bật 2
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Feb 16
									</span>
								</div>
							</li>

							@* <li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="images/popular-post-03.jpg" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											Suspendisse dictum enim quis imperdiet auctor
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Feb 15
									</span>
								</div>
							</li> *@
						</ul>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Chuyên mục
							</h5>
						</div>

						<ul class="m-t--12">
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Chuyên mục 1 (22)
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <span class="fas fa-angle-up"></span>
      </span>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/animsition/js/animsition.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
