@model AdvWeb_VN.ViewModels.Catalog.SubCategories.SubCategoryCreateRequest

@{
	ViewData["Title"] = "Tạo mới";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<a class="btn btn-outline-primary" asp-action="Index" asp-controller="SubCategory">Về danh sách</a>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Home">Home</a></li>
						<li class="breadcrumb-item"><a href="/SubCategory">Danh sách chuyên mục con</a></li>
						<li class="breadcrumb-item active">Thêm chuyên mục con</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Thêm chuyên mục con</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="Create" role="form" method="post">
							<div class="card-body">
								<div asp-validation-summary="All" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="CategoryName" class="control-label"></label>
									<input asp-for="CategoryName" class="form-control" />
									<span asp-validation-for="CategoryName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="CategoryID" class="control-label"></label>
									<select asp-for="CategoryID" class="form-control category-select" id="category-select"></select>
									<span asp-validation-for="CategoryID" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label asp-for="IsShow" class="control-label col-12"></label>
									<input asp-for="IsShow" class="form-control" type="checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
									<span asp-validation-for="IsShow" class="text-danger"></span>
								</div>

							</div>
							<div class="card-footer">
								<div class="form-group">
									<input type="submit" value="Lưu lại" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
@section scripts{
	<script type="text/javascript">

		let endpoint = "@ViewData["BaseAddress"]"
		fetch(endpoint + "/api/categories")
			.then(response => response.json())
			.then(data => _displayItem(data))
			.catch(error => console.error('Unable to get items.', error))

		function _displayItem(data) {
			data.forEach(item => {
				$("#category-select").append("<option value=" + item.categoryID + ">" + item.categoryName + "</option>")
			})
		}
	</script>
}


