@using AdvWeb_VN.Utilities.Settings
@model AdvWeb_VN.WebApp.Models.FooterViewModel

@{
	Split split = new Split();
}

<footer>
	<div class="bg2 p-t-40 p-b-25">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<a href="index.html">
							<img class="max-s-full" src="~/images/icons/logo-02.png" alt="LOGO">
						</a>
					</div>

					<div>
						<p class="f1-s-1 cl11 p-b-16">
							Website của nhóm dịch Gero Saga, mục tiêu của nhóm là series Visual Novel mang tên Science Adventure bao gồm Chaos;Head, Steins;Gate... của 5pb./MAGES
						</p>

						<p class="f1-s-1 cl11 p-b-16">
							Bạn có điều gì còn trăn trở? Join ngay DISCORD cùng chúng mình
						</p>

						<div class="p-t-15">
							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-twitter"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-pinterest-p"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-vimeo-v"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							Popular Posts
						</h5>
					</div>

					<ul>
						@for(int i=0; i< 3; i++)
						{
						<li class="flex-wr-sb-s p-b-20">
							<a href="/post/@Model.PostFooters[i].PostID" class="size-w-4 wrap-pic-w hov1 trans-03">
								<img class="image-post-footer" src="https://localhost:5002/user-content/@Model.PostFooters[i].Thumbnail" alt="IMG">
							</a>

							<div class="size-w-5">
								<h6 class="p-b-5">
									<a href="/post/@Model.PostFooters[i].PostID" class="f1-s-5 cl11 hov-cl10 trans-03">
										@split.NormalizeName(Model.PostFooters[i].PostName, 12)
									</a>
								</h6>

								<span class="f1-s-3 cl6">
									@(Model.PostFooters[i].WriteTime.Day + "/" + Model.PostFooters[i].WriteTime.Month)
								</span>
							</div>
						</li>
						}

					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							Category
						</h5>
					</div>

					<ul class="m-t--12">
						@foreach (var item in Model.CategoryFooters)
						{
						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="/category/category-@item.CategoryID" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								@item.CategoryName (@item.PostCount)
							</a>
						</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="bg11">
		<div class="container size-h-4 flex-c-c p-tb-15">
			<span class="f1-s-1 cl0 txt-center">
				Copyright © 2018

				<a href="#" class="f1-s-1 cl10 hov-link1">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</span>
		</div>
	</div>
</footer>
