@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card c-home">
                        <img class="img-home" src="~/dist/img/chaos;head.jpg" alt="chaos;head" />
                    </div>
                    <!-- /.card -->

                    <div class="card c-home">
                        <img class="img-home" src="~/dist/img/steins;gate.webp" alt="steins;gate" />
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card c-home">
                        <img class="img-home" src="~/dist/img/chaos;child.png" alt="chaos;child" />
                    </div>
                    <!-- /.card -->

                    <div class="card c-home">
                       <img class="img-home" src="~/dist/img/robotics;note.png" />
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
